@font-face {
    font-family: SourceSansPro;
    src: url('../assets/Font Source Sans Pro/SourceSansPro-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background-color: white;

    
}
#page_content {
    min-height: 100vh;
    width: 100%;
	/* sidebar is 280px */
    min-width: calc(100% - 280px);
}

#landing_header {
    /* font-family: SourceSansPro; */
}

#landing_logo {
    width: 350px;
}

#landing_header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
}

#landing_header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

/* Start Navbar */
#page_sidebar {
	min-height: 100vh;
}

.Navbar {
    min-height: 100vh;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #2db28e;
    transition: 0.3s;
    padding-top: 60px;
}

.Navbar ul {
    padding: 0 20px;
}

.Navbar a {
    padding: 10px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    display: block;
    transition: 0.3s;

}

.Navbar a:hover {
    color: #D3D3D3;
}
/* 
.Navbar .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 40px;
} */

/* .open {
    font-size: 20px;
    cursor: pointer;
    background-color: #2db28e;
    color: white;
    padding: 10px 15px;
    border: none;
} */

/* .open:hover {
    background-color: #1b6b55;
} */

/* #collapse {
    transition: margin-left 0.5s;
} */

/* .icon-preview {
    height: 41px;
    width: 48px;
    background-color: #2db28e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
} */

/* .icon-preview i {
    padding: 10px 10px 10px 2px;
    color: white;
    font-size: 18px;
    padding-top: 60px;

} */

/* .navbar_preview {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 60px;
    background: #2db28e;
    position: absolute;
} */
/* End Navbar */