@font-face {
    font-family: SourceSansPro;
    src: url('../assets/Font Source Sans Pro/SourceSansPro-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background-color: white;
    
}

#page_sidebar {
	width: 200px;
	min-height: 100vh;
}

#page_content {
    min-height: 100vh;
    width: 100%;
	/* sidebar is 280px */
    min-width: calc(100% - 280px);
}

#landing_header {
    /* font-family: SourceSansPro; */
}

#landing_logo {
    width: 350px;
}

#landing_header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 60px;
    margin: 0;
}

#landing_header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

/* Start Navbar */
.Navbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2db28e;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.Navbar a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
    margin-left: -20px;
}
  
.Navbar a:hover {
    color: #D3D3D3;
}

.Navbar .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}

.open {
    font-size: 20px;
    cursor: pointer;
    background-color: #2db28e;
    color: white;
    padding: 10px 15px;
    border: none;
}

.open:hover {
    background-color: #1b6b55;
}

#collapse {
    transition: margin-left .5s;
    padding: 16px;
}
  /* End Navbar */