@font-face {
    font-family: SourceSansPro;
    src: url('../assets/Font Source Sans Pro/SourceSansPro-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background-color: white;   
    min-height: 100vh; 
}

#landing_logo {
    width: 350px;
}

#landing_header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
}

#landing_header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

/* Start Navbar */
.page_sidebar {
    align-self: stretch;
}

#page_content {
    align-self: stretch;
}
.Navbar {
    height: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #2db28e;
    /* transition: 0.3s; */
    padding-top: 60px;
}

.Navbar ul {
    padding: 0 20px;
    list-style: none;
}

.Navbar ul li a {
    padding: 10px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    display: block;
    transition: 0.3s;

}

.Navbar a:hover {
    color: #D3D3D3;
}

/* End Navbar */
thead {
    font-weight: bold;
}